six~=1.15.0
datefinder==0.7.1
opencv-python==4.5.1.48
pdf2image==1.14.0
pdfplumber==0.5.27
PyPDF2==1.26.0
pytesseract==0.3.7
python-dateutil==2.8.1
PyYAML==5.4.1
simplejson==3.17.2
tqdm==4.59.0
tensorflow==2.3.0
numpy==1.18
google-api-python-client
google-cloud-vision
python-magic